#cloud-config

{# This configuration file is templated using Jinja #}
{# http://jinja.pocoo.org/docs/2.10/templates/      #}

{% set default_eth0_addr='192.168.50.1' %}

hostname: {{ hypriot_hostname|default('hypriot', true) }}
locale: "{{ hypriot_locale }}"
# Value of 'timezone' must exist in /usr/share/zoneinfo
timezone: "{{ hypriot_timezone }}"
manage_etc_hosts: true
apt_preserve_sources_list: true
package_upgrade: false

users:
  - name: {{ hypriot_user|default('pirate', true) }}
    primary-group: users
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users,docker,adm,dialout,audio,plugdev,netdev,video
    ssh-import-id: None
    lock_passwd: true
    ssh-authorized-keys:
      - {{ hypriot_pubkey }}
    chpasswd: { expire: false }

# optional wireless network settings
# To make wifi work with RPi3 and RPi0
# you also have to set "enable_uart=0" in config.txt
# See no-uart-config.txt for an example.
#
# wifi:
#   interfaces:
#     wlan0:
#       ssid: "YourSSID"
#       password: "YourSecretPreSharedKey"

write_files:
  - content: |

      127.0.1.1 hypriot-client.localdomain hypriot-client
      127.0.0.1 localhost
      {{ hypriot_eth0_addr|default(default_eth0_addr) }} setup client

      ::1 ipv6-localhost ipv6-loopback
      fe00::0 ipv6-localnet
      ff00::0 ipv6-mcastprefix
      ff02::1 ipv6-allnodes
      ff02::2 ipv6-allrouters
      ff02::3 ipv6-allhosts
    path: /etc/hosts
  - content: |
      auto eth0
      allow-hotplug eth0
      iface eth0 inet static
      address {{ hypriot_eth0_addr|default(default_eth0_addr, true) }}
      netmask 255.255.255.0

      auto eth0:1
      allow-hotplug eth0:1
      iface eth0:1 inet dhcp
    path: /etc/network/interfaces.d/eth0
  - content: |
      allow-hotplug wlan0
      iface wlan0 inet dhcp
      wpa-conf /etc/wpa_supplicant/wpa_supplicant.conf
      iface default inet dhcp
    path: /etc/network/interfaces.d/wlan0
  - content: |
      country={{ hypriot_wifi_country }}
      ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
      update_config=1
      network={
         ssid="{{ hypriot_client_ssid }}"
         psk="{{ hypriot_client_psk }}"
         proto=RSN
         key_mgmt=WPA-PSK
         pairwise=CCMP
         auth_alg=OPEN
      }
    path: /etc/wpa_supplicant/wpa_supplicant.conf
    owner: root:root
    permissions: '0600'
  - content: |
      # KEYBOARD CONFIGURATION FILE
      # Consult the keyboard(5) manual page.
      XKBMODEL="{{ hypriot_keyboard_model }}"
      XKBLAYOUT="{{ hypriot_keyboard_layout }}"
      XKBVARIANT=""
      XKBOPTIONS="{{ hypriot_keyboard_options }}"
      BACKSPACE="guess"
    path: /etc/default/keyboard

# Install any additional apt packages you need here
packages:
 - ntp

# These commands will be only be run once on first boot
runcmd:
  - 'service networking restart'
  - 'systemctl restart avahi-daemon'
  - 'ifdown eth0'
  - 'ifup eth0'
  - 'ifup wlan0'

# vim: syntax=yaml
